
<div class="section">
    <h1>¿Quienes somos?</h1>
    <div class="container">
        <div class="title text-center">
            <h2 class="animated fadeIn fast">Uma..</h2>
            <hr>
        </div>
        <div class="content">
            <div class="article">
                <h4 class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus maxime quam amet eveniet, 
                sit perferendis debitis eum minus quibusdam neque odio ex minima eos harum. Totam deserunt obcaecati assumenda.
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem porro itaque velit rem quas ad. 
                Suscipit minus nesciunt aperiam accusamus rerum iure. Officiis veritatis, veniam incidunt voluptates minus impedit vero.</p>
                <div class="button">
                    <a href="">Read More..</a>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="assets/img/aquaman.png" alt="">
        </div>
        <div class="social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
</div>