<h1>Aretes <small>Para cualquier tipo y gusto</small> </h1>
<br>
<p class="text-center">Aqui se encuentra los items (Aretes).</p>
<hr>
<div class="row row-cols-1 row-cols-md-4 g-4 animated fadeIn">
    <!-- card-container row row-cols-1 row-cols-md-4 gap-3 animated fadeIn -->
    <!-- row row-cols-1 row-cols-md-4 g-4 animated fadeIn custom-card-container -->
    <app-arete-tarjeta (areteSeleccionado)="verArete($event)" [arete]="arete" [index]="i"
        *ngFor="let arete of aretes; let i = index"></app-arete-tarjeta>        
    </div>


    




