  hr {
    border: none;
    height: 3px;
    color: #333;
    background-color: #333;
  }

  .imagen-con-texto {
    position: relative;
  }

  .texto-encima {
    position: absolute;
    top: 388px; /* Ajusta la posición vertical del texto según sea necesario */
    left: 50%; /* Ajusta la posición horizontal del texto según sea necesario */
    transform: translate(-50%, -50%); /* Centra el texto en el medio del contenedor */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente del texto */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según sea necesario */
}

  h1 {
    text-align: center;
  }

  #carrusel-caja {
    -webkit-animation: automatizacion 15s infinite linear;
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 400px;
    width: 300%;
  }

  #carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    text-align: center; /* Centra horizontalmente */
  }
  
  .imagenes {
    max-height: 410px;
    display: inline-block; /* Para que funcione vertical-align */
    vertical-align: middle; /* Centra verticalmente */
  }

  .carrusel-elemento {
    float: left;
    width: 33.333%;
  }

  @keyframes automatizacion {
    0%, 30% {
      margin-left: 0;
    }
    35%, 65% {
      margin-left: -100%;
    }
    70%, 95% {
      margin-left: -200%;
    }
    100% {
      margin-left: 0;
    }
  }
