<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div id="carrusel-contenido">
  <div id="carrusel-caja">
    <div class="carrusel-elemento animated fadeIn">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/Earrings.jpg">
        <div class="texto-encima">
          <p class="TuTipoDeLetra">Aretes</p>
        </div>
      </div>
    </div>
    <div class="carrusel-elemento">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/Earrings.jpg">
        <div class="texto-encima">Collares</div>
      </div>
    </div>
    <div class="carrusel-elemento">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/Earrings.jpg">
        <div class="texto-encima">
          <p class="TuTipoDeLetra">Sobre nosotros..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis libero enim veritatis ipsum error mollitia
  vitae aliquid recusandae est nemo at expedita magni impedit, quod a fugiat, nam voluptate nihil.
</p>
<footer>
  <p class="TuTipoDeLetra">
    Copyright 2023 by SOG
  </p>
</footer>
