<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div id="carrusel-contenido">
  <div id="carrusel-caja">
    <div class="carrusel-elemento animated fadeIn">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/Daisy Flower Diamond Stud Earring For Girls In 14Ok Yellow Gold.jpeg">
        <div class="texto-encima">
          <p class="TuTipoDeLetra">Aretes</p>
        </div>
      </div>
    </div>
    <div class="carrusel-elemento">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/descarga.jpeg">
        <div class="texto-encima">Collares</div>
      </div>
    </div>
    <div class="carrusel-elemento">
      <div class="imagen-con-texto">
        <img class="imagenes" src="assets/img/Earrings.jpg">
        <div class="texto-encima">
          <p class="TuTipoDeLetra">Sobre nosotros..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<p class="animated fadeIn">
  Bienvenido a <b>Uma</b>, tu destino definitivo para descubrir la joyería perfecta que complementará tu estilo único. Explora nuestro exquisito catálogo de aretes, donde la elegancia se encuentra con la innovación.
  <br>
  <br>
  Sumérgete en las diversas secciones que hemos creado meticulosamente para ti. Desde clásicos atemporales hasta audaces y vanguardistas, cada par de aretes cuenta una historia diferente. Descubre la sutileza de la artesanía y la calidad en cada detalle.
  <br>
  Explora nuestras secciones temáticas, donde podrás encontrar desde piezas delicadas para el día a día hasta deslumbrantes opciones para ocasiones especiales. Nuestra pasión por la moda y la singularidad se refleja en cada diseño que ofrecemos.
  <br>
  <br>
  No importa tu estilo, en [Nombre de tu Proyecto] encontrarás ese par de aretes que te hará destacar. ¡Déjate llevar por la belleza y la diversidad de nuestras colecciones! ¡Descubre el arte de la autenticidad con nosotros!
</p>
<div class="container">

  <!-- Arreglar el footer  -->

  <!-- <footer
    class="footer text-center">
      Copyright 2023 by SOG
    </footer> -->

  </div>
