<h1>Collares <small>No sé qué poner aquí</small></h1>
<br>
<p class="text-center">Aqui se encuentran los items (collares)</p>
<hr>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="row row-cols-1 row-cols-md-4 g-4 animated fadeIn">
  <div class="card-block mb-3" *ngFor="let collar of collares; let i = index">
    <div class="card">
      <img [src]="collar.img" class="card-img-top" [alt]="collar.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ collar.nombre }}</h5>
        <p class="card-text">{{ collar.bio }}</p>
        <button (click)="verCollar(i)" type="button" class="btn btn-outline-primary w-100">
          Ver más..
        </button>
        <!-- <a [routerLink]="['/collar', i]" class="btn btn-outline-primary w-100"> Ver mas???</a> -->
      </div>
    </div>
  </div>
</div>
